Debug/OpenGL3DTemplate.tlog/CL.write.1.tlog
*.lastbuildstate
Debug/OpenGL3DTemplate.tlog/link.write.1.tlog
*.tlog
OpenGL3DTemplate.sdf
*.idb
OpenGL3DTemplate.opensdf
*.suo
Debug/OpenGL3DTemplate.tlog/link.command.1.tlog
*.tlog
Debug/OpenGL3DTemplate.tlog/cl.command.1.tlog